h1{
    background-color: magenta;
}

h3{
    color: aqua;
}

.new{
    background-color: rebeccapurple;
    color: white;
}

 {background-color: magenta; 
c0fbd849e4391ff434ba6e56a429313d8829dd79
}
p{
    background-color: yellow;
    color: red;
    font-size: 20px;
}