h1{
    background-color: magenta;
}
.new{
    background-color: rebeccapurple;
    color: white;
}
*{
    background-image: url(https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

