h1{
    background-color: red;
    font-size: 30px;
}
h2{
    background-color: tomato;
    margin: 50px;
}
<<<<<<< HEAD
p{
    background-color: yellow;
    color: blue;
=======

.new{
    background-color: rebeccapurple;
    color: white;
}
*{
    background-color: magenta;
>>>>>>> 7c4d821d14706504d4c12d59d7d333594913d2c9
}